<main class="h-100 d-flex justify-content-center align-items-center">
  <div data-height="{{height}}" data-width="{{width}}" data-bricks="{{bricks}}" data-start="{{startX}} {{startY}}"
    data-end="{{endX}} {{endY}}" id="container">
  </div>
</main>
<script src="js/maze.js"></script>